*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mi_agenda{
    max-width: 50em;
    max-height: 50em;
    margin: 6em auto;
    background-color: lightblue;
    box-shadow: 2px 11px 14px -4px rgba(0,0,0,0.5),
    4px 13px 16px -6px rgba(0,0,0,0.5);
    
}

.container_header form{
    margin: 1em;
    
}

header{
    background-color: lightblue;
    padding: 0.3em;
    
}


.container_header form div input{
    width: 18em;
    margin: 1em 2em;
    height: 2em;
    border-radius: 25px;
    border: 1px dashed darkblue;
    text-align: center;
}

#agregarTarea {
    width: 8em;
    margin: 1em 0 0 1em;
    height: 2em;
    border-radius: 25px;

}

.añadirTarea {
    background-color: rgba(255, 255, 255, 0.6) ;
    float: right;
    padding: 0;
    border: none;
    font-size: 30px;
    border-radius: 25px;
    margin: -1.5em 0 0 0;
    width: 5em;
    height: 1.5em;
    border: 1px dashed darkblue;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;

    
}

.añadirTarea:hover {
    background-color: rgba(65, 105, 225, 0.4) ;
    transition: 0.5s;
    animation-name: brr;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.colocar {
    margin: 0 auto;
}

header hr {
    width: 45em;
    margin: 0 auto;
    border-color: rgba(65, 105, 225, 0.6);
}

#buscarPrioridad{
    width: 8em;
    margin: 1em;
    height: 2em;
    border-radius: 25px;
}

main #tareas article{
    color: white;
    position: relative;
    border-radius: 25px;
    margin: 6px 0;
    box-shadow: 2px 11px 14px -4px rgba(0,0,0,0.5),
    4px 13px 16px -6px rgba(0,0,0,0.5);
}

main #tareas h3{
    font-size: 50px;
    padding: 10px;
    
}

main #tareas div{
    position: absolute;
    display: block;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    color: crimson;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 29.8px;
    cursor: pointer;
    border-radius: 25px;

}

main #tareas div:hover{
    transition: 1.5s;
    animation-name: brr;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    
}

@keyframes brr{
    0%{transform: rotateZ(5deg)}
    100%{transform: rotateZ(-5deg)}
}

footer{
    padding: 10px;
    text-align: right;
}

.urgente {
    background-color: crimson;
    
}

.mensual {
    background-color: royalblue;
}

.diaria {
    background-color: goldenrod;
}